.card-section {
    background-image: url(../img/bg2.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    overflow: visible;
    min-height: 90vh;
    height: auto;
}

.card-section-center {
    align-self: center;
    flex-direction: column;
}

.card-h2 h2 {
    font-size: 2.625rem;
    font-weight: bolder;
    max-width: 21.875rem;
    overflow-wrap: break-word;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    letter-spacing: 0.1875rem;
    line-height: 2.8125rem;
}

.card-container {
    gap: 1.875rem;
}

.card {
    width: 18.125rem;
    height: 25rem;
    border: solid 0.4688rem black;
    flex-direction: column;
}

.card h3 {
    max-width: 12.5rem;
    overflow-wrap: break-word;
    font-size: 1.25rem;
    font-weight: bolder;
    text-align: center;
    align-self: center;
    letter-spacing: 0.1875rem;
    line-height: 1.5625rem;
    padding-top: 1.25rem;
    padding-bottom: 0.9375rem;
}

.card p {
    text-align: center;
    align-self: center;
    overflow-wrap: break-word;
    max-width: 15.625rem;
    line-height: 1.4375rem;
    padding-bottom: 0.625rem;
}

.lb-for-card {
    padding-top: 0;
    align-self: center;
    width: 14.6875rem;
    padding-top: 0.625rem;
    padding-bottom: 1.5625rem;
}

.card-bookit {
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1.875rem;
    flex: 1;
}

.card-bookit-a {
    width: 6.25rem;
}

.card-bookit-a:hover {
    text-decoration: underline;
}

.card-btn-box {
    align-self: center;
    margin-top: 4.6875rem;
}

.card-btn-ms {
    width: 11.875rem;
}

.line-box-h2-wraper {
    flex-direction: column;
}

@media (max-width: 58.125rem) {
    .card-section {
        background-image: none;
        background-color: white
    }

    .card-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .line-box-h2-wraper {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-lineb {
        margin-right: 13.1875rem;
    }
}

@media (max-width: 58.0625rem) {
    .card-section {
        padding-bottom: 1.875rem;
    }
}